<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    forceCoversAnnotation="true"
    mapTestClassNameToCoveredClassName="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    stopOnError="false"
>

    <testsuites>
        <testsuite name="Ratchet Test Suite">
            <directory>./tests/Ratchet/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
        </blacklist>
    </filter>
</phpunit>